<!DOCTYPE html>
<html ng-app="chatApp">
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/application.css'/>
  <script src="/application.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
